<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="AMQPBroker" providerName="EasyNetQ" connectionString="host=10.211.55.2;port=5672;virtualHost=/;username=guest;password=guest"/>
	</connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>